<h1>Moradores</h1>

<ul>
  <% @morador.each do |morador| %>
    <li>
         <%= link_to morador.name, morador %>
    </li>
  <% end %>
</ul>
<h1>New Morador</h1>

<%= render "form", morador: @morador %>
